body {
  background: #e1e1e1;
  padding: 30px 0;
}

li {
  list-style:none;
  border-bottom: 1px black solid;
  padding: 20px;
}

.Item:hover {
  background-color: aliceblue;
  cursor:pointer;
}

.Alchemy {
  display: flex;
  justify-content: space-between;
  background-color: #FFF;
  padding: 20px;

}

.ContentContainer {
  margin: 20px;
}

.DeselectItem {
  display: flex;
  align-items: center;
  background: aliceblue;
  border: 1px solid black;
  padding: 5px;
  cursor: default;
}

.DeselectItem .Item {
  border: none;
  cursor: default;
}

.DeselectItem .Item:hover {
  background-color: lightcoral;
}

.x {
  color: red;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 24px;
  cursor: pointer;
  padding: 5px;
}
.plus {
    font-family: 'Gill Sans',
    'Gill Sans MT',
    Calibri,
    'Trebuchet MS',
    sans-serif;
    font-size: 24px;
    display: flex;
    justify-content: center;
    padding: 10px;
}

.Button {
  margin: 20px 0;
  border-radius: 3px;
  background: #EEE;
}

.Button:hover {
  background: #DDD;
}

.selected {
  background: lightgrey;
  cursor: default;
}

.selected:hover {
  background: lightgrey;
}